apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-provider
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "account_id": "cloudflare_account_id",
      "api_token": "cloudflare_api_token"
    }
